/* Adding custom font */
@font-face {
	font-family: arcadeFont;
	src: url('../font/ARCADECLASSIC.TTF');
}

/* Editing body's properties */
body {
  background-color: black;
  color: white;
  width: 800px;
  margin: auto;
  margin-top: 20px;
}

a {
	color: grey;
}

a:visited {
	color: grey;
}

/* Adding keyword for background animation */
@keyframes animatedBackground {
	from { background-position: 100000% 2000000%;}
	to { background-position: 0 0; }
}

/* Adding keyword for pattern 1 */
@keyframes pattern1 {
	0% {left: 33%; top: 30%;}
	50% {left: 63%; top: 30%;}
	100% {left: 33%; top: 30%;}
}

/* Properties for making a quite classy title for a small game */
#title {
  font-family: arcadeFont;
  font-size: 56px;
  text-align: center;
}


/* The game's area properties. Look, there's an animated background ! */
#main	{
  border-radius: 20px;
	width: 800px;
	height: 600px;
  margin:auto;
	background-image: url("../img/background/space.png");
  border-style: solid;
  border-color: white;
	background-position: 0px 0px;
	background-repeat: repeat;
	animation: animatedBackground 60000s linear infinite;
}

/* Absolute value for the projectile's position so it can be moved anywhere */
#playerProjectile {
	position: absolute;
}

/* Absolute value for the CV's position so it can be moved anywhere */
#enemyShipSkills {
	position: absolute;
	animation: pattern1 3s linear infinite;
}
#enemyShipExperience {
	position: absolute;
}
#enemyShipFormation {
	position: absolute;
}

/* KABOOM */
#explosion {
	z-index: 400;
	position: absolute;
}

/* Pretty much self explanatory */
#areaForEnemyShip {
	margin-top: 20px;
	margin-left: 10px;
	width: 780px;
	height: 450px;
}

/* Pretty much self explanatory */
#areaForPlayerShip {
	margin-top: 60px;
	margin-left: 10px;
	width: 780px;
	height: 32px;
	border-style: solid;
	border-width: 1px;
	border-color: #21610B;
}

/* Styles added for this little portion of text few people actually read */
#credits {
  font-size: 12px;
  color: darkgrey;
}
