/* Adding custom font */
@font-face {
	font-family: arcadeFont;
	src: url('../font/ARCADECLASSIC.TTF');
}

/* Editing body's properties */
body {
  background-color: black;
  color: white;
  width: 800px;
  margin: auto;
  margin-top: 20px;
	font-size: 24px;
}

a {
	color: grey;
}

a:visited {
	color: grey;
}

/* Adding keyword for background animation */
@keyframes animatedBackground {
	from { background-position: 100000% 2000000%;}
	to { background-position: 0 0; }
}

/* Adding keyword for pattern 1

1 <-----------> 2

*/
@keyframes pattern1 {
	0% {left: 4%; top: 5%;}
	50% {left: 88%; top: 5%;}
	100% {left: 4%; top: 5%;}
}

/* Adding keyword for pattern 2
					2					6
				 / \			/		\
				/		\	  /			 \
			3			1.5.9				7
				\		/		\			/
				 \ /		 \	/
				 	4				8
*/
@keyframes pattern2 {
	0% {left: 46%; top: 15%;}
	12% {left: 26%; top: -10%;}
	24% {left: 6%; top: 15%;}
	36% {left: 26%; top: 45%;}
	48% {left: 46%; top: 15%;}
	60% {left: 66%; top: -10%;}
	72% {left: 86%; top: 15%;}
	84% {left: 66%; top: 45%;}
	100% {left: 46%; top: 15%;}
}

/* Adding keyword for pattern 3


3								1
	\						/
	 \				/
	  \			/
		 \	/
		  2
*/
@keyframes pattern3 {
	0% {left: 90%; top: 55%;}
	25% {left: 45.5%; top: 85%;}
	50% {left: 5%; top: 55%;}
	75% {left: 45.5%; top: 85%;}
	100% {left: 90%; top: 55%;}
}

/* Adding keyword for some cool winning text */
@keyframes congratulationAnimation {
	0% { color: white;}
	50% { color: grey; }
	100% { color: white;}
}

/* Properties for making a quite classy title for a small game */
#title {
	font-family: arcadeFont;
  font-size: 56px;
  text-align: center;
}


/* The game's area properties. Look, there's an animated background ! */
#main	{
  border-radius: 20px;
	width: 800px;
	height: 600px;
  margin:auto;
	background-image: url("../img/background/space.png");
  border-style: solid;
  border-color: white;
	background-position: 0px 0px;
	background-repeat: repeat;
	animation: animatedBackground 60000s linear infinite;
}

/* Absolute value for the projectile's position so it can be moved anywhere */
#playerProjectile {
	position: absolute;
}

/* Absolute value for the CV's position so it can be moved anywhere */
#enemyShipSkills {
	position: relative;
	animation: pattern1 4s linear infinite;
}
#enemyShipExperience {
	position: relative;
	animation: pattern2 3.5s linear infinite;
}
#enemyShipFormation {
	position: relative;
	animation: pattern3 4s linear infinite;
}

/* KABOOM */
#explosion {
	z-index: 400;
	position: absolute;
}

/* Pretty much self explanatory */
#areaForEnemyShip {
	margin-top: 20px;
	margin-left: 10px;
	width: 780px;
	height: 450px;
}

/* Pretty much self explanatory */
#areaForPlayerShip {
	margin-top: 60px;
	margin-left: 10px;
	width: 780px;
	height: 32px;
	border-style: solid;
	border-width: 1px;
	border-color: #21610B;
}

#rewardFormation {
	display: none;
}

#rewardExperience {
	display: none;
}

#rewardSkills {
	display: none;
}

#rewardContact {
	display: none;
}

#congratulations {
	display: none;
	text-align: center;
	font-family: arcadeFont;
  font-size: 56px;
	animation: congratulationAnimation 0.5s linear infinite;
}


.rewardTitle {
	font-family: arcadeFont;
	font-size: 45px;
	width: 70%;
	border-bottom-style: solid;
}

/* Styles added for this little portion of text few people actually read */
#credits {
	font-family: arial;
  font-size: 12px;
  color: darkgrey;
}
